<div class="jumbotron">

	<div class="input-group input-group-lg">
	  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
	  <div class="input-group-append">
	    <button class="btn btn-primary btn-outline-secondary" type="button">Button</button>
	  </div>
	</div>

</div>

<div class="jumbotron">
	
	<ul class="list-group">
	  <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between align-items-center">
	    <span class="badge badge-primary badge-pill">{{ item.id }}</span>
	    {{ item.title }}
	    <img src="{{ item.thumbnailUrl }}" alt="">
	  </li>
	</ul>

</div>