<div class="jumbotron">
	
	<div class="input-group input-group-lg">
	  <input type="text" class="form-control" aria-label="Large" #searchItem (keyup)="search(searchItem.value)">
	  <div class="input-group-append">
	    <button class="btn btn-primary btn-outline-secondary" type="button">Button</button>
	  </div>
	</div>

	<ul class="list-group" *ngFor="let item of items">
	  <li class="list-group-item d-flex justify-content-between align-items-center">
	    {{ item.title }}
	    <span class="badge badge-primary badge-pill">{{ item.id }}</span>
	  </li>
	</ul>
	
</div>
