.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ABB6C2;
    color: #000;
    text-align: center;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}